{% extends 'base.html.twig' %}
{% block title %} contact{% endblock %}
{% block body %}
 <h1> NOUS CONTACTER</h1>
 <input type="hidden" id="recaptchaResponse" name="recaptcha-response">

 {{ form(contactForm) }}
 <script src="https://www.google.com/recaptcha/api.js?render=6LcfHpUaAAAAALL6GIeOLvKFKbLBYvaRMHZV6VU6"></script>
 <script>
  grecaptcha.ready(function() {
   grecaptcha.execute('6LcfHpUaAAAAALL6GIeOLvKFKbLBYvaRMHZV6VU6', {action: 'homepage'}).then(function(token) {
    document.getElementById('recaptchaResponse').value = token
   });
  });
 </script>

  {% endblock %}


testx